<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:c="http://www.springframework.org/schema/c"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

  <context:property-placeholder location="greeting.properties"/>
  
  <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"
    p:basename="messages" 
  />

  <bean id="consoleMessageView" class="com.epam.training.simple.ConsoleMessageView" ></bean>
  <bean id="loggerMessageView" class="com.epam.training.simple.LoggerMessageView"></bean>
  <bean id="stutterMessageView" class="com.epam.training.simple.StutterMessageView" p:count="3" />
  
  <bean id="i18nMessageView" class="com.epam.training.simple.I18NMessageView" c:locale="${greeting.locale}"></bean>
  
  <bean id="goHomeMessageService" class="com.epam.training.simple.ConfigurableMessageService"
    p:message="${greeting.code}" />
  
  <bean id="staticMessageService" class="com.epam.training.simple.StaticGreetingMessageService"></bean>
  
  <bean 
    id="confMessageService" 
    class="com.epam.training.simple.ConfigurableMessageService" 
    p:message="${greeting.message}"
  />
  
  <bean id="simpleGreeting" class="com.epam.training.simple.SimpleGreetingApp" scope="prototype" 
    c:messageService-ref="goHomeMessageService" c:messageView-ref="i18nMessageView">
  </bean>
  
  <bean id="multiGreeting" class="com.epam.training.simple.MultiGreetingApp" c:messagesService-ref="confMessageService">
    <property name="views">
      <util:list>
        <ref bean="loggerMessageView"/>
        <ref bean="stutterMessageView"/>
      </util:list>
    </property>
  </bean>
</beans>
