<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="consoleMessageView" class="com.epam.training.simple.ConsoleMessageView" ></bean>
  
  <bean id="staticMessageService" class="com.epam.training.simple.StaticGreetingMessageService"></bean>
  
  <bean id="confMessageService" class="com.epam.training.simple.ConfigurableMessageService" >
    <property name="message" value="Let's have some lunch!"></property>
  </bean>
  
  <bean id="greetingApp" class="com.epam.training.GreetingApp">
    <constructor-arg ref="confMessageService"></constructor-arg>
    <constructor-arg ref="consoleMessageView"></constructor-arg>
  </bean>
</beans>
